:root {
  --primary-brown: #4e342e;
  --secondary-brown: #795548;
  --accent-color: #ffa726; /* or #8BC34A for a green accent */
  --light-background: #f5f5f5;
  --text-color: #3e2723;
}

.register-bg {
  background-image: url("../../images/login-bg.png");
  background-position: center;
  background-size: cover;
}

#userRegister .card {
  border-radius: 1rem;
  padding: 2rem;
  background-color: #fff;
}

.input-container {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control {
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  padding: 0.5rem 0;
  background-color: transparent;
}

.form-control:focus {
  border-bottom: 2px solid #b5651d;
  box-shadow: none;
}

.form-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.5rem 0;
  pointer-events: none;
  transition: all 0.2s ease;
}

.form-control:focus ~ .form-label,
.form-control:not(:placeholder-shown) ~ .form-label {
  top: -1.5rem;
  left: 0;
  font-size: 0.85rem;
  color: #b5651d;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 767.98px) {
  #userRegister .card {
    border-radius: 1rem;
    padding: 1rem;
  }
}

#userRegister .btn-brown {
  background-color: var(--primary-brown);
  color: white;
}

#userRegister .btn-brown:hover {
  background-color: var(--secondary-brown);
}

#userRegister .hrline {
  text-align: center;
  margin: 2rem 0;
  position: relative;
}

#userRegister .hrline:before,
#userRegister .hrline:after {
  content: "";
  display: block;
  width: 40%;
  height: 1px;
  background-color: #ccc;
  position: absolute;
  top: 50%;
}

#userRegister .hrline:before {
  left: 0;
}

#userRegister .hrline:after {
  right: 0;
}
